name: Filter MobiSDEC CSV

on:
  schedule:
    - cron: '0 3 * * *'  # 4h Paris
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install pandas requests

      - name: Run script
        run: python script.py

      - name: Commit filtered CSV
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/${{ github.repository }}
          git add output/*.csv
          git commit -m "Add filtered CSV for $(date +'%Y-%m-%d')" || echo "No changes to commit"
          git push origin HEAD:main
